<nav>
	<li class="timing dropdown filter-endpoints label6a pull-left">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<span>{{#if currentEndpointFilter}} {{currentEndpointFilter}} {{else}} All endpoints {{/if}}</span>
			<b class="caret"></b>
		</a>

		<ul class="dropdown-menu">
			<li>
				<a data-evt="Logs-Table-Filter-All" {{action "setEndPointFilter" "" target="controller"}}>All endpoints</a>
			</li>
			<li class="debits">
				<a data-evt="Logs-Table-Filter-Debits" {{action "setEndPointFilter" "debits" target="controller"}}>Debits</a>
			</li>
			<li class="credits">
				<a data-evt="Logs-Table-Filter-Credits" {{action "setEndPointFilter" "credits" target="controller"}}>Credits</a>
			</li>
			<li class="refunds">
				<a data-evt="Logs-Table-Filter-Refunds" {{action "setEndPointFilter" "refunds" target="controller"}}>Refunds</a>
			</li>
			<li class="holds">
				<a data-evt="Logs-Table-Filter-Holds" {{action "setEndPointFilter" "holds" target="controller"}}>Holds</a>
			</li>
			<li class="customers">
				<a data-evt="Logs-Table-Filter-Customers" {{action "setEndPointFilter" "customers" target="controller"}}>Customers</a>
			</li>
			<li class="accounts">
				<a data-evt="Logs-Table-Filter-Accounts" {{action "setEndPointFilter" "accounts" target="controller"}}>Accounts</a>
			</li>
			<li class="bank_accounts">
				<a data-evt="Logs-Table-Filter-Bank-Accounts" {{action "setEndPointFilter" "bank_accounts" target="controller"}}>Bank Accounts</a>
			</li>
			<li class="cards">
				<a data-evt="Logs-Table-Filter-Cards" {{action "setEndPointFilter" "cards" target="controller"}}>Cards</a>
			</li>
		</ul>
	</li>
	<!--
	<li class="timing dropdown label6a">
	{{view Balanced.DatePickerView viewName="dateTimePicker"}}
	</li>
	-->

	<div class="pull-right filter-status-rollup">
		<label class="checkbox inline succeeded">
			{{view Ember.Checkbox checkedBinding="statusRollupFilterSucceeded" target="controller"}} Request succeeded
		</label>

		<label class="checkbox inline failed">
			{{view Ember.Checkbox checkedBinding="statusRollupFilterFailed" target="controller"}} Request failed
		</label>
	</div>
</nav>
