<a class="dropdown-toggle" data-toggle="dropdown" href="#" {{action "toggleDateTimePicker" target="view"}}>
	<span>{{dateFilterTitle}}</span>
	<b class="caret"></b>
</a>
<ul class="dropdown-menu date-picker right">
	<li>
		<ul class="set-times">
			{{#view Balanced.DatePickerPresetView}}<a data-evt="Date-Picker-Any-Time" href="#">Any time</a>{{/view}}
			{{#view Balanced.DatePickerPresetView}}<a data-evt="Date-Picker-Past-Hour" href="#">Past hour</a>{{/view}}
			{{#view Balanced.DatePickerPresetView}}<a data-evt="Date-Picker-Past-Day" href="#">Past 24 hours</a>{{/view}}
			{{#view Balanced.DatePickerPresetView}}<a data-evt="Date-Picker-Past-Week" href="#">Past week</a>{{/view}}
			{{#view Balanced.DatePickerPresetView}}<a data-evt="Date-Picker-Past-Month" href="#">Past month</a>{{/view}}
		</ul>
		<div class="date-picker">
			<div class="after selected">
				{{#view Balanced.DatePickerDateFieldView class="dt"}}
					<input type="text" name="after" class="dp" {{bind-attr data-element=view.afterSelector}}>
				{{/view}}
			</div>

			<div class="before">
				{{#view Balanced.DatePickerDateFieldView class="dt"}}
					<input type="text" name="before" class="dp" {{bind-attr data-element=view.beforeSelector}}>
				{{/view}}
			</div>

			<button data-evt="Date-Picker-Go" class="btn go" {{action "setDateVariable" target="view"}}>Go</button>
		</div>
	</li>
</ul>
